[submodule "consolas-powerline"]
	path = consolas-powerline
	url = https://github.com/eugeneching/consolas-powerline-vim.git
[submodule "fantasque-sans"]
	path = fantasque-sans
	url = https://github.com/belluzj/fantasque-sans.git
[submodule "mononoki"]
	path = mononoki
	url = https://github.com/madmalik/mononoki.git
[submodule "LispM-Font"]
	path = LispM-Font
	url = https://github.com/unjordy/LispM-Font.git
[submodule "nerd-fonts"]
	path = nerd-fonts
	url = https://github.com/ryanoasis/nerd-fonts.git
[submodule "monoid"]
	path = monoid
	url = https://github.com/larsenwork/monoid.git
[submodule "cherry"]
	path = cherry
	url = https://github.com/turquoise-hexagon/cherry.git
[submodule "Hack"]
	path = Hack
	url = https://github.com/source-foundry/Hack.git
